#container {
    display:inline-block;
    width:100%;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

#access-token {
    padding: 3px;
    width:450px;
    height: 25px;
    border: 1px solid #dddddd;
    color:#444444;
}

#api-credentials {
    margin-bottom: 10px;
}