.ginfo-tooltip {
    position: absolute;
    z-index: 3;
    display:none;
    padding: 5px;
    max-width: 600px;
    background: #333;
    color: #fff;
}
.user-tooltip {
    height:auto;
}

.ginfo-tooltip .tooltip-content {
    display: block;
    height: inherit;
}
.user-tooltip .tooltip-content img {
    width:35px;
    float:left;
}

.user-tooltip .tooltip-content .info-con {
    display: inline-block;
    float: left;
    margin-left:5px;
}

.ginfo-tooltip .tooltip-content .info-con > *, .error-con span {
    display:block;
    width:100%;
}

.ginfo-tooltip .tooltip-content .info-con .octicon-git-branch {
    margin-left:5px;
}

.ginfo-tooltip .arrow-down {
    position: absolute;
    bottom: -4px;
    left: 16px;
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.error-tooltip{
    color:yellow;
}

.error-tooltip span {
    display: block;
    width:100%;
}
