.ginfo-tooltip {
    position: absolute;
    z-index: 3;
    display:none;
    padding: 5px;
    max-width: 600px;
    background: #333;
    color: #fff;
}

.user-tooltip {
    height:35px;
}

.user-tooltip .tooltip-content {
    display: block;
    height: inherit;
}
.user-tooltip .tooltip-content img {
    width:35px;
}

.user-tooltip .tooltip-content div {
    display: inline-block;
    float: left;
    height: inherit;
}

.user-tooltip .tooltip-content .info-con {
    margin-left:5px;
}

.user-tooltip .tooltip-content .info-con  span {
    display:block;
    width:100%;
}

.arrow-down {
    position: absolute;
    bottom: -5px;
    left: 16px;
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}